
  <%= render 'new_form' %>
<br>
<br>

<% @comments.each do |comments| %>
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title"><%= link_to comments.user.name, profile_index_path(comments.user.nickname) %></h5>
	    <h6 class="card-subtitle mb-2 text-muted">Administrador</h6>
	    <p class="card-text"><%= comments.content %></p>
	    <%= link_to comments_index_path(comments), class: "card-link", method: :delete do %>
	    	<i class="fas fa-trash"></i>
	    <% end %>
	  </div>
	</div>
	<br>
<% end %>