<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img"></div>
        </div>
        <div class="col-md-6">
            <div class="profile-head"> 
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <%= form_with model: @user, url: "/profile/#{@user.nickname}/edit" ,method: :patch do |form| %>
                        <div class="form-floating" style="max-inline-size: max-content;">
                          <%= form.file_field :avatar, class: "form-control" %>
                          <%= form.label :avatar %>
                        </div>
                        <%= form.submit %>
                    <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>